$main-color: #d2caaf;
$background-color: #502F3E;
$font: 'Crete Round', serif;
$orange: indianred;

// media
$mobile: 480px;
$medium: 768px;
$desktop: 1024px;

html, body {
  margin: 0;
  padding: 0;
  background-color: $main-color;
  font-family: $font;
  color: $main-color;
  letter-spacing: .1rem;
}

body {
  padding: 3em 3em 0 3em;
}

.content {
  background: $background-color;
  border-radius: 1em;
  position: relative;
  overflow: hidden;

  .out-circle {
    background-color: transparent;
    border: 1px solid $orange;
    border-radius: 50%;
    width: 25em;
    height: 25em;
    position: absolute;
  }

  .left {
    top: 20%;
    left: -15em;
  }

  .right {
    top: 70%;
    right: -15em;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;

    .company-name {
      display: flex;
      p {
        margin-left: 4em;
        font-weight: bold;
      }

      .logo {
        position: relative;
        .circle {
          width: 1.5em;
          height: 1.5em;
          border-radius: 50%;
        }
        .orange {
          position: absolute;
          left:0;
          top: 0.9em;
          background-color: $orange;
        }
        .white {
          position: absolute;
          left:1em;
          top: 0.9em;
          background-color: $main-color;
        }
      }

    }

    .links {
      display: flex;
      align-items: center;

      .btn-get-started {
        background: #FFE3C2;
        font: 100 0.9em $font;
        margin-left: 2em;
        padding: 0 1em;
        height: 2.5em;
      }

      ul {
        display: flex;
        list-style: none;
        li {
          padding: 0 2em;
          a {
            text-decoration: none;
            color: inherit;

            &:hover {
              color: #ffffff;
            }
          }
        }
      }
    }

  }

  main {
    margin: auto;
    width: 70%;
    text-align: center;

    .heading {
      h1 {
        font-size: 2.9em;
        line-height: 1.2em;
        max-width: 30ch;
        margin: 1em auto;
      }

      p {
        margin: 1em auto;
        font-size: 1.2em;
        max-width: 60ch;
      }
    }



    .btn-try {
      font: 100 1.2em $font;
      padding: 0.8em 1.5em;
      margin-bottom: 2em;
    }

    .images {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-end;
      max-height: 400px;
      max-width: 600px;
      margin: auto;
      padding-right: 10em;

      .img-flower, .img-worker {
        max-width:100%;
        max-height:100%;
      }

    }

  }

  button {
      background: #d9be00;
      border-radius: 1.5em;
      border: none;
      padding: 0 2em;
      min-width: 10em;
      color: $background-color;
  }



}

.design {
  background-color: yellow;
  position: fixed;
  top: 0;
  left: 0;
}

@media (max-width: $desktop) {
  .content {
    nav {
      .links {
        flex-direction: column;
        ul {
          flex-direction: column;
        }
      }
    }
  }
}

@media (max-width: $desktop){

  .content {
    .out-circle {
      width: 20em;
      height: 20em;
    }

    .left {
      top: 10%;
      left: -15em;
    }

    .right {
      top: 70%;
      right: -15em;
    }
  }

}

@media (max-width: $mobile) {
  .content {
    nav {
      flex-direction: column;
      .links {
        flex-direction: column;
        ul {
          flex-direction: column;
        }
      }
    }

    main {
      .heading {
        h1 {
          font-size: 2em;
        }
      }

      .images {
        display: none;
      }
    }

    .out-circle {
      width: 18em;
      height: 18em;
    }

    .left {
      top: 10%;
      left: -15em;
    }

    .right {
      top: 70%;
      right: -15em;
    }
  }


}


